.product__card-container {
  margin: 1rem 0;
  width: 100%;
  height: fit-content;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 1rem;
  // background-color: green;

  .product__item {
    cursor: pointer;
    margin: 1rem;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-color: green;


    .product__top {
      margin: 0 auto;
    }

    h3 {
      font-size: 1.2rem;
      color: $primary-color;
      font-weight: 600;
      margin-top: 0.7rem;

      a {
        &:hover{
          color: inherit;
        }
      }
    }

 

    .product__type {
      margin-top: -1rem;
      font-size: 0.8rem;
      font-weight: 400;
    }

    img {
      width: 17rem;
    }

    span {
      font-size: 1rem;
    }

    .product__card-bottom {
      margin-top: 2rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: $primary-color;
      font-size: 1.3rem;
      font-weight: normal;

      .price {
        font-size: 1.3rem;
        font-weight: 500;
        color: $primary-color;
      }

      i {
        font-style: 1.2rem;
        padding: 5px;
        background-color: $primary-color;
        color: white;
        border-radius: 50%;
      }
    }
  }

  //   background-color: green;
}
